@tailwind base;
@tailwind components;
@tailwind utilities;

dialog {
  max-width: 100vw;
  max-height: 100vh;
}

.cl-userButtonPopoverActionButton__manageAccount {
  display: none;
}

.background {
  background-color: #36454f;
}

.navBg {
  background-color: #3b82f6;
}

.cl-userButtonBox {
  scale: 1.5;
}
